@media (max-width: 1024px) {
    .header {
        &_container {
            max-width: 704px;

            &--info {
                &--nav {
                    display: none;
                }

                &--icons {
                    svg {
                        display: none;
                    }
                }
            }
        }

        .burger {
            display: block;
        }
    }

    main {
        .start {
            &_container {
                max-width: 704px;
                background-image: url(./img/chocolate-laptop.png);

                &--grey {
                    display: none;
                }

                &--box {
                    padding-top: 671px;
                }
            }
        }

        .benefits {
            &_container {
                max-width: 704px;
                display: flex;
                flex-wrap: wrap;
                row-gap: 50px;

                &--line {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        padding-bottom: 14px;

        &_container {
            max-width: 335px;
        }

    }

    .menu-overlay {
        width: 220px;

        .menu {
            padding-left: 50px;
            margin-top: 136px;

            a {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -2%;
                vertical-align: middle;

            }
        }
    }

    main {
        .start {
            &_container {
                max-width: 335px;
                padding: 20px;
                background-image: url(./img/chocolate-phonr.png);

                background-size: cover;
                background-position: center;


                &--box {
                    padding: 0;
                    padding-top: 375px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;

                    &--info {
                        &--title {
                            font-family: Montserrat;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: -3%;
                        }

                        &--buttons {
                            &--btn {
                                padding: 12px 28px;

                                &--2 {
                                    padding: 12px 28px;
                                }
                            }
                        }
                    }

                    &--scroll {
                        max-width: 107px;

                        &--text {
                            font-family: Montserrat;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: -3%;
                        }

                        svg {
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }

        }
    }
}