@media (max-width: 1024px) {
    .header {
        &_container {
            max-width: 704px;

            &--info {
                &--nav {
                    display: none;
                }

                &--icons {
                    svg {
                        display: none;
                    }
                }
            }
        }

        .burger {
            display: block;
        }
    }

    main {
        .start {
            &_container {
                max-width: 704px;
                background-image: url(./img/chocolate-laptop.png);

                &--grey {
                    display: none;
                }

                &--box {
                    padding-top: 671px;
                }
            }
        }

        .benefits {
            &_container {
                max-width: 704px;
                display: flex;
                flex-wrap: wrap;
                row-gap: 50px;

                &--line {
                    display: none;
                }
            }
        }

        .taste {
            &_container {
                width: 100%;
                max-width: 706px;
                margin: 0 auto;
                flex-wrap: wrap;
                gap: 32px;
                row-gap: 32px;

                &--card {

                    &--1,
                    &--2,
                    &--3,
                    &--4 {
                        width: 336px;
                        height: 270px;

                        &--front {
                            padding: 28px 56px 28px 28px;

                            img {
                                width: 224px;
                                height: 171px;
                                margin-left: 28px;
                            }

                            &--title {
                                margin-top: 25px;
                            }
                        }

                        &--back {
                            padding: 28px 56px 28px 28px;

                            &--text {
                                max-width: 280px;
                            }
                        }
                    }

                    &--1,
                    &--4 {
                        order: 1;
                    }

                    &--2,
                    &--3 {
                        order: 2;
                    }
                }
            }
        }
        .howItsMade{
            padding-bottom: 100px;
            &_container{
                flex-direction: column;
                row-gap: 20px;
                &--video{
                    img{
                        width: 614px;
                    }
                    svg{
                        left: 285px;
                    }
                }
                &--box{
                    max-width: 614px;
                }
            }
            &--grey{
                display: none;
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        padding-bottom: 14px;

        &_container {
            max-width: 335px;
        }

    }

    .menu-overlay {
        width: 220px;

        .menu {
            padding-left: 50px;
            margin-top: 136px;

            a {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -2%;
                vertical-align: middle;

            }
        }
    }

    main {
        .start {
            &_container {
                max-width: 335px;
                padding: 20px;
                background-image: url(./img/chocolate-phonr.png);

                background-size: cover;
                background-position: center;


                &--box {
                    padding: 0;
                    padding-top: 375px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;

                    &--info {
                        &--title {
                            font-family: Montserrat;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: -3%;
                        }

                        &--buttons {
                            &--btn {
                                padding: 12px 28px;

                                &--2 {
                                    padding: 12px 28px;
                                }
                            }
                        }
                    }

                    &--scroll {
                        max-width: 107px;

                        &--text {
                            font-family: Montserrat;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: -3%;
                        }

                        svg {
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }
        }

        .taste {
            padding: 72px 0;

            &_title {
                max-width: 283px;
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -3%;
                text-align: center;
                text-transform: uppercase;
            }

            &_text {
                max-width: 335px;
                margin-top: 24px;
                margin-bottom: 32px;
            }

            &_container {
                max-width: 335px;
                row-gap: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                &--card--3{
                    order: 3;
                }
                &--card--4{
                    order: 4;
                }
            }
        }
        .howItsMade{
            &_title{
                margin-bottom: 32px;
            }
            &_container{
                flex-direction: column;
                row-gap: 20px;
                &--video{
                   &--laptop{
                    display: none;
                   }
                   &--phone{
                    display: block;
                    img{
                        width: 335px;
                    }
                    svg{
                        top: 233px;
                        left: 150px;
                    }
                   }
                }
                &--box{
                    max-width: 335px;
                    padding: 20px 14px;
                }
            }
        }
    }
}