@media (max-width: 1160px) {
    main {
        .product {
            &__title {
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -3%;
                text-align: center;
                text-transform: uppercase;
            }

            &__container {
                max-width: 500px;
            }

            &__scroll {
                max-width: 500px;
            }
        }

        .products__slider {
            width: 558px;
        }

        .topSellers {
            &_container {
                max-width: 704px;
                margin: 0 auto;

                &--example {
                    &--chocolate {

                        &-1,
                        &-2,
                        &-3 {
                            width: 344px;
                            height: 464px;
                            margin: 0 auto;
                        }
                    }

                    &--chocolate-3 {
                        display: none;
                    }
                }

                &--info {
                    &--text {
                        width: 100%;
                        max-width: 306px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &_container {
            max-width: 704px;

            &--info {
                &--nav {
                    display: none;
                }

                &--icons {
                    svg {
                        display: none;
                    }
                }
            }
        }

        .burger {
            display: block;
        }
    }

    main {

        .start {
            &_container {
                max-width: 704px;
                background-image: url(./img/chocolate-laptop.png);

                &--grey {
                    display: none;
                }

                &--box {
                    padding-top: 671px;
                }
            }
        }

        .benefits {
            &_container {
                max-width: 704px;
                display: flex;
                flex-wrap: wrap;
                row-gap: 50px;

                &--line {
                    display: none;
                }
            }
        }

        .taste {
            &_container {
                width: 100%;
                max-width: 706px;
                margin: 0 auto;
                flex-wrap: wrap;
                gap: 32px;
                row-gap: 32px;

                &--card {

                    &--1,
                    &--2,
                    &--3,
                    &--4 {
                        width: 336px;
                        height: 270px;

                        &--front {
                            padding: 28px 56px 28px 28px;

                            img {
                                width: 224px;
                                height: 171px;
                                margin-left: 28px;
                            }

                            &--title {
                                margin-top: 25px;
                            }
                        }

                        &--back {
                            padding: 28px 56px 28px 28px;

                            &--text {
                                max-width: 280px;
                            }
                        }
                    }

                    &--1,
                    &--4 {
                        order: 1;
                    }

                    &--2,
                    &--3 {
                        order: 2;
                    }
                }
            }
        }

        .product {
            &__title {
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -3%;
                text-align: center;
                text-transform: uppercase;
            }

            &__container {
                max-width: 500px;
            }

            &__scroll {
                max-width: 500px;
            }
        }

        .products__slider {
            width: 558px;
        }

        .howItsMade {
            padding-bottom: 100px;

            &_container {
                flex-direction: column;
                row-gap: 20px;

                &--video {
                    img {
                        width: 614px;
                    }

                    svg {
                        left: 285px;
                    }
                }

                &--box {
                    max-width: 614px;
                }
            }

            &--grey {
                display: none;
            }
        }

        .topSellers {
            &_container {
                &--example {
                    &--chocolate-3 {
                        display: none;
                    }

                    &--chocolate {

                        &-1,
                        &-2,
                        &-3 {
                            width: 344px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        padding-bottom: 14px;

        &_container {
            max-width: 335px;
        }

    }

    .menu-overlay {
        width: 220px;

        .menu {
            padding-left: 50px;
            margin-top: 136px;

            a {
                font-family: Montserrat;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -2%;
                vertical-align: middle;

            }
        }
    }

    main {
        .modal__box {
            max-width: 311px;
            padding: 32px 24px;
        }

        .modal__box {
            max-width: 311px;
            padding: 32px 24px;
        }

        .modal-products {
            width: 100%;
            margin-bottom: 24px;
        }

        .slider {
            position: relative;
            height: 260px;
        }

        .slide {
            position: absolute;
            inset: 0;
            background: #fff;
            border-radius: 15px;
            border: 1px solid #1111111A;
            padding: 32px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            opacity: 0;
            transform: scale(0.95);
            transition: 0.4s ease;

            img {
                width: 150px;
                margin-bottom: 24px;
            }

            span {
                background: #FAFAFA;
                border: 1px solid #1111111A;
                border-radius: 100px;
                padding: 8px 24px;
                font-weight: 600;
                font-size: 14px;
            }

            &.active {
                opacity: 1;
                transform: scale(1);
                z-index: 2;
            }
        }

        .slider-dots {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 16px;

            .dot {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                border: none;
                background: #d9d9d9;
                cursor: pointer;

                &.active {
                    width: 28px;
                    border-radius: 20px;
                    background: #FD9222;
                }
            }
        }

        .form-row {
            flex-direction: column;

            input {
                width: 100%;
            }
        }

        .benefits_container {
            justify-content: center;
        }

        .products__slider {
            width: 270px;
        }

        .start {
            &_container {
                max-width: 335px;
                padding: 20px;
                background-image: url(./img/chocolate-phonr.png);

                background-size: cover;
                background-position: center;


                &--box {
                    padding: 0;
                    padding-top: 375px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;

                    &--info {
                        &--title {
                            font-family: Montserrat;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: -3%;
                        }

                        &--buttons {
                            &--btn {
                                padding: 12px 28px;

                                &--2 {
                                    padding: 12px 28px;
                                }
                            }
                        }
                    }

                    &--scroll {
                        max-width: 107px;

                        &--text {
                            font-family: Montserrat;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: -3%;
                        }

                        svg {
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }
        }

        .taste {
            padding: 72px 0;

            &_title {
                max-width: 283px;
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -3%;
                text-align: center;
                text-transform: uppercase;
            }

            &_text {
                max-width: 335px;
                margin-top: 24px;
                margin-bottom: 32px;
            }

            &_container {
                max-width: 335px;
                row-gap: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                &--card--3 {
                    order: 3;
                }

                &--card--4 {
                    order: 4;
                }
            }
        }

        .howItsMade {
            &_title {
                margin-bottom: 32px;
            }

            &_container {
                flex-direction: column;
                row-gap: 20px;

                &--video {
                    &--laptop {
                        display: none;
                    }

                    &--phone {
                        display: block;

                        img {
                            width: 335px;
                        }

                        svg {
                            top: 233px;
                            left: 150px;
                        }
                    }
                }

                &--box {
                    max-width: 335px;
                    padding: 20px 14px;
                }
            }
        }

        .topSellers {
            &_title {
                margin-bottom: 32px;
            }

            &_container {
                &--example {
                    &--chocolate-2 {
                        display: none;
                    }
                }

                &--info {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 20px;

                    &--chocolate-2 {
                        display: block;
                        width: 335px;
                        height: 464px;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}