.header {
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
    padding-bottom: 32px;
    margin: 0 auto;

    &_container {
        max-width: 1136px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--info {
            width: 100%;
            max-width: 735px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--nav {
                width: 100%;
                max-width: 532px;
                display: flex;
                justify-content: space-between;

                &--link {
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -2%;
                    vertical-align: middle;
                    color: #111111;
                }

                &--link:hover {
                    color: #FD9222;
                    transition: 0.2s;
                }
            }

            &--icons {
                width: 66px;
                display: flex;
                justify-content: space-between;

                svg:hover {
                    path {
                        stroke: #FD9222;
                        transition: 0.2s;
                    }
                }
            }
        }
    }

    .burger {
        display: none;
        border: none;
        cursor: pointer;
        background: none;
    }
}

.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 290px;
    height: 100vh;
    background: linear-gradient(180deg, #1E1823);

    transform: translateX(100%);
    transition: transform 0.35s ease;
    z-index: 1000;

    pointer-events: none;


    &.open {
        transform: translateX(0);
        pointer-events: auto;
    }

    .close {
        position: absolute;
        top: 24px;
        right: 24px;
        background: none;
        border: none;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
    }

    .close:hover {
        color:#FD9222;
    }

    .menu {
        margin-top: 156px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        gap: 28px;

        a {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
            line-height: 16px;
            letter-spacing: -2%;
            vertical-align: middle;
            color: #fff;
        }

        a:hover {
            color: #FD9222;
        }
    }

    .socials {
        position: absolute;
        bottom: 24px;
        left: 32px;
        display: flex;
        align-items: center;
        gap: 20px;

        svg:hover {
            path {
                stroke: #FD9222;
                transition: 0.2s;
            }
        }
    }
}