main {
    .start {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 72px;

        &_container {
            width: 100%;
            padding-top: 208px;
            max-width: 1136px;
            margin: 0 auto;
            background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);
            background-image: url(./img/start-chocolate.png);
            border-radius: 30px;
            background-repeat: no-repeat;
            background-size: cover;

            &--grey {
                width: 100%;
                height: 119px;
                background-color: #D9D9D9;
            }

            &--box {
                padding: 40px;
                padding-top: 54px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                &--info {
                    width: 100%;
                    max-width: 484px;

                    &--title {
                        width: 100%;
                        max-width: 484px;
                        text-align: left;
                        font-family: Montserrat;
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 34px;
                        letter-spacing: -3%;
                        color: #FFFFFF;
                    }

                    &--buttons {
                        width: 100%;
                        max-width: 341px;
                        margin-top: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &--btn {
                            font-family: Montserrat;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            color: #FFFFFF;
                            background-color: #FD9222;
                            border: none;
                            border-radius: 100px;
                            padding: 14px 40px;
                            cursor: pointer;

                            &--2 {
                                font-family: Montserrat;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 100%;
                                letter-spacing: 0%;
                                color: #FFFFFF;
                                border-radius: 100px;
                                padding: 14px 40px;
                                border: 1px solid #FFFFFF;
                                background: none;
                            }
                        }

                        &--btn:hover {
                            background-color: #FCF1E0;
                            transition-duration: 0.3s;
                            color: #FD9222;
                        }

                        &--btn--2:hover {
                            border: 1px solid #FD9222;
                            transition-duration: 0.3s;
                            color: #FD9222;
                        }
                    }
                }

                &--scroll {
                    width: 100%;
                    max-width: 134px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &--text {
                        font-family: Montserrat;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: -3%;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    .benefits {
        background-color: #1E1823;
        padding: 50px;

        &_container {
            width: 100%;
            max-width: 1136px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            &--line {
                border: 1px solid #FFFFFF80;
                width: 1px;
                height: 124px;
                margin-top: 60px;
            }

            &--box {
                width: 100%;
                max-width: 308px;

                &--title {
                    font-family: Montserrat;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    margin-top: 22px;
                    margin-bottom: 18px;
                }

                &--text {
                    width: 100%;
                    max-width: 308px;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: -2%;
                    color: #FFFFFFB2;
                    text-align: left;
                }
            }
        }
    }

    .taste {
        width: 100%;
        max-width: 1136px;
        margin: 0 auto;
        padding: 128px 0;

        &_title {
            width: 100%;
            max-width: 411px;
            margin: 0 auto;
            font-family: Montserrat;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -3%;
            text-align: center;
            text-transform: uppercase;
            color: #111111;

            span {
                color: #FD9222;
            }
        }

        &_text {
            width: 100%;
            max-width: 505px;
            margin: 0 auto;
            margin-top: 28px;
            margin-bottom: 50px;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -2%;
            text-align: center;
            color: #111111;
        }


        &_container {
            display: flex;
            gap: 24px;
        }

        // ===== ВСЕ КАРТОЧКИ =====

        &_container--card--1,
        &_container--card--2,
        &_container--card--3,
        &_container--card--4 {
            position: relative;
            width: 270px;
            height: 270px;
            border-radius: 15px;
            overflow: hidden;
            cursor: pointer;
        }

        // ===== FRONT & BACK ОБЩИЕ =====

        &_container--card--1--front,
        &_container--card--2--front,
        &_container--card--3--front,
        &_container--card--4--front,

        &_container--card--1--back,
        &_container--card--2--back,
        &_container--card--3--back,
        &_container--card--4--back {
            position: absolute;
            inset: 0;
            padding: 28px;
            padding-right: 36px;
            border-radius: 15px;
            transition: all 0.4s ease;
        }

        // FRONT
        &_container--card--1--front,
        &_container--card--2--front,
        &_container--card--3--front,
        &_container--card--4--front {
            opacity: 1;
            z-index: 2;
        }

        // BACK
        &_container--card--1--back,
        &_container--card--2--back,
        &_container--card--3--back,
        &_container--card--4--back {
            background: #fff;
            opacity: 0;
            transform: translateY(20px);
            z-index: 3;

            &--title {
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: -3%;
                text-transform: uppercase;
                color: #111111;
            }

            &--buttons {
                margin-top: 8px;
                margin-bottom: 14px;

                &--fill {
                    padding: 6px 16px;
                    border-radius: 35px;
                    background-color: #FD9222;
                    border: none;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #FFFFFF;
                }

                &--outline {
                    padding: 6px 16px;
                    border-radius: 35px;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    background-color: #FFFFFF;
                    color: #111111;
                    border: 1px solid #FD9222;
                }
            }

            &--text {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -2%;
                color: #111111;
            }
        }

        &_container--card--1:hover {
            .taste_container--card--1--front {
                opacity: 0;
            }

            .taste_container--card--1--back {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &_container--card--2:hover {
            .taste_container--card--2--front {
                opacity: 0;
            }

            .taste_container--card--2--back {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &_container--card--3:hover {
            .taste_container--card--3--front {
                opacity: 0;
            }

            .taste_container--card--3--back {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &_container--card--4:hover {
            .taste_container--card--4--front {
                opacity: 0;
            }

            .taste_container--card--4--back {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &_container--card--1--front {
            background: #FD9222;

            &--title {
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -2%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-top: 36px;
            }
        }

        &_container--card--3--front {
            background: #1E1823;

            &--title {
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -2%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-top: 36px;
            }
        }

        &_container--card--2--front,
        &_container--card--4--front {
            border: 1px solid #FD9222;
            background: #fff;

            &--title {
                font-family: Montserrat;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -2%;
                text-transform: uppercase;
                color: #111111;
                margin-top: 36px;
            }
        }
    }
}