@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #FAFAFA;
}

.header {
  width: 100%;
  max-width: 1200px;
  padding-top: 24px;
  padding-bottom: 32px;
  margin: 0 auto;
}
.header_container {
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container--info {
  width: 100%;
  max-width: 735px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container--info--nav {
  width: 100%;
  max-width: 532px;
  display: flex;
  justify-content: space-between;
}
.header_container--info--nav--link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #111111;
}
.header_container--info--nav--link:hover {
  color: #FD9222;
  transition: 0.2s;
}
.header_container--info--icons {
  width: 66px;
  display: flex;
  justify-content: space-between;
}
.header_container--info--icons svg:hover path {
  stroke: #FD9222;
  transition: 0.2s;
}
.header .burger {
  display: none;
  border: none;
  cursor: pointer;
  background: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 290px;
  height: 100vh;
  background: linear-gradient(180deg, #1E1823);
  transform: translateX(100%);
  transition: transform 0.35s ease;
  z-index: 1000;
  pointer-events: none;
}
.menu-overlay.open {
  transform: translateX(0);
  pointer-events: auto;
}
.menu-overlay .close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
.menu-overlay .close:hover {
  color: #FD9222;
}
.menu-overlay .menu {
  margin-top: 156px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.menu-overlay .menu a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #fff;
}
.menu-overlay .menu a:hover {
  color: #FD9222;
}
.menu-overlay .socials {
  position: absolute;
  bottom: 24px;
  left: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu-overlay .socials svg:hover path {
  stroke: #FD9222;
  transition: 0.2s;
}

main .start {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 72px;
}
main .start_container {
  width: 100%;
  padding-top: 208px;
  max-width: 1136px;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%);
  background-image: url(./img/start-chocolate.png);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
main .start_container--grey {
  width: 100%;
  height: 119px;
  background-color: #D9D9D9;
}
main .start_container--box {
  padding: 40px;
  padding-top: 54px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .start_container--box--info {
  width: 100%;
  max-width: 484px;
}
main .start_container--box--info--title {
  width: 100%;
  max-width: 484px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -3%;
  color: #FFFFFF;
}
main .start_container--box--info--buttons {
  width: 100%;
  max-width: 341px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .start_container--box--info--buttons--btn {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  cursor: pointer;
}
main .start_container--box--info--buttons--btn--2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  border-radius: 100px;
  padding: 14px 40px;
  border: 1px solid #FFFFFF;
  background: none;
}
main .start_container--box--info--buttons--btn:hover {
  background-color: #FCF1E0;
  transition-duration: 0.3s;
  color: #FD9222;
}
main .start_container--box--info--buttons--btn--2:hover {
  border: 1px solid #FD9222;
  transition-duration: 0.3s;
  color: #FD9222;
}
main .start_container--box--scroll {
  width: 100%;
  max-width: 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.3s ease;
}
main .start_container--box--scroll .text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  transition: 0.3s ease;
  color: #ffffff;
}
main .start_container--box--scroll:hover .text {
  color: #FD9222;
}
main .start_container--box--scroll:hover .bg {
  fill: #FD9222;
}
main .start_container--box--scroll:hover .arrow {
  fill: #FFFFFF;
}
main .benefits {
  background-color: #1E1823;
  padding: 50px;
}
main .benefits_container {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .benefits_container--line {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  width: 1px;
  height: 124px;
  margin-top: 60px;
}
main .benefits_container--box {
  width: 100%;
  max-width: 308px;
}
main .benefits_container--box--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-top: 22px;
  margin-bottom: 18px;
}
main .benefits_container--box--text {
  width: 100%;
  max-width: 308px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 0.6980392157);
  text-align: left;
}
main .taste {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding: 128px 0;
}
main .taste_title {
  width: 100%;
  max-width: 411px;
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
main .taste_title span {
  color: #FD9222;
}
main .taste_text {
  width: 100%;
  max-width: 505px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: #111111;
}
main .taste_container {
  display: flex;
  gap: 24px;
}
main .taste_container--card--1, main .taste_container--card--2, main .taste_container--card--3, main .taste_container--card--4 {
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
main .taste_container--card--1--front, main .taste_container--card--2--front, main .taste_container--card--3--front, main .taste_container--card--4--front, main .taste_container--card--1--back, main .taste_container--card--2--back, main .taste_container--card--3--back, main .taste_container--card--4--back {
  position: absolute;
  inset: 0;
  padding: 28px;
  padding-right: 36px;
  border-radius: 15px;
  transition: all 0.4s ease;
}
main .taste_container--card--1--front, main .taste_container--card--2--front, main .taste_container--card--3--front, main .taste_container--card--4--front {
  opacity: 1;
  z-index: 2;
}
main .taste_container--card--1--front--title, main .taste_container--card--2--front--title, main .taste_container--card--3--front--title, main .taste_container--card--4--front--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #111111;
}
main .taste_container--card--1--back, main .taste_container--card--2--back, main .taste_container--card--3--back, main .taste_container--card--4--back {
  background: #fff;
  opacity: 0;
  transform: translateY(20px);
  z-index: 3;
}
main .taste_container--card--1--back--title, main .taste_container--card--2--back--title, main .taste_container--card--3--back--title, main .taste_container--card--4--back--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #111111;
}
main .taste_container--card--1--back--buttons, main .taste_container--card--2--back--buttons, main .taste_container--card--3--back--buttons, main .taste_container--card--4--back--buttons {
  margin-top: 8px;
  margin-bottom: 14px;
}
main .taste_container--card--1--back--buttons--fill, main .taste_container--card--2--back--buttons--fill, main .taste_container--card--3--back--buttons--fill, main .taste_container--card--4--back--buttons--fill {
  padding: 6px 16px;
  border-radius: 35px;
  background-color: #FD9222;
  border: none;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFFFFF;
}
main .taste_container--card--1--back--buttons--fill:hover, main .taste_container--card--2--back--buttons--fill:hover, main .taste_container--card--3--back--buttons--fill:hover, main .taste_container--card--4--back--buttons--fill:hover {
  background-color: #FCF1E0;
  color: #FD9222;
}
main .taste_container--card--1--back--buttons--outline, main .taste_container--card--2--back--buttons--outline, main .taste_container--card--3--back--buttons--outline, main .taste_container--card--4--back--buttons--outline {
  padding: 6px 16px;
  border-radius: 35px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0%;
  vertical-align: middle;
  background-color: #FFFFFF;
  color: #111111;
  border: 1px solid #FD9222;
}
main .taste_container--card--1--back--buttons--outline:hover, main .taste_container--card--2--back--buttons--outline:hover, main .taste_container--card--3--back--buttons--outline:hover, main .taste_container--card--4--back--buttons--outline:hover {
  background-color: #FD9222;
  color: #FFFFFF;
}
main .taste_container--card--1--back--text, main .taste_container--card--2--back--text, main .taste_container--card--3--back--text, main .taste_container--card--4--back--text {
  width: 100%;
  max-width: 214px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #111111;
  overflow: hidden;
  max-height: 150px;
  /* подбери нужную высоту */
  overflow-y: auto;
  /* вертикальный скролл */
  padding-right: 5px;
  /* чтобы текст не прилипал к скроллу */
}
main .taste_container--card--1:hover .taste_container--card--1--front {
  opacity: 0;
}
main .taste_container--card--1:hover .taste_container--card--1--back {
  opacity: 1;
  transform: translateY(0);
}
main .taste_container--card--2:hover .taste_container--card--2--front {
  opacity: 0;
}
main .taste_container--card--2:hover .taste_container--card--2--back {
  opacity: 1;
  transform: translateY(0);
}
main .taste_container--card--3:hover .taste_container--card--3--front {
  opacity: 0;
}
main .taste_container--card--3:hover .taste_container--card--3--back {
  opacity: 1;
  transform: translateY(0);
}
main .taste_container--card--4:hover .taste_container--card--4--front {
  opacity: 0;
}
main .taste_container--card--4:hover .taste_container--card--4--back {
  opacity: 1;
  transform: translateY(0);
}
main .taste_container--card--1--front {
  background: #FD9222;
}
main .taste_container--card--1--front--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 36px;
}
main .taste_container--card--3--front {
  background: #1E1823;
}
main .taste_container--card--3--front--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 36px;
}
main .taste_container--card--2--front, main .taste_container--card--4--front {
  border: 1px solid #FD9222;
  background: #fff;
}
main .taste_container--card--2--front--title, main .taste_container--card--4--front--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #111111;
  margin-top: 36px;
}
main .taste_container--card--1--back--text, main .taste_container--card--2--back--text, main .taste_container--card--3--back--text, main .taste_container--card--4--back--text {
  overflow-y: auto;
  padding-right: 6px;
  text-align: left;
  /* Chrome, Edge, Safari */
}
main .taste_container--card--1--back--text::-webkit-scrollbar, main .taste_container--card--2--back--text::-webkit-scrollbar, main .taste_container--card--3--back--text::-webkit-scrollbar, main .taste_container--card--4--back--text::-webkit-scrollbar {
  width: 8px;
}
main .taste_container--card--1--back--text::-webkit-scrollbar-track, main .taste_container--card--2--back--text::-webkit-scrollbar-track, main .taste_container--card--3--back--text::-webkit-scrollbar-track, main .taste_container--card--4--back--text::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 10px;
}
main .taste_container--card--1--back--text::-webkit-scrollbar-thumb, main .taste_container--card--2--back--text::-webkit-scrollbar-thumb, main .taste_container--card--3--back--text::-webkit-scrollbar-thumb, main .taste_container--card--4--back--text::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}
main .taste_container--card--1--back--text::-webkit-scrollbar-thumb:hover, main .taste_container--card--2--back--text::-webkit-scrollbar-thumb:hover, main .taste_container--card--3--back--text::-webkit-scrollbar-thumb:hover, main .taste_container--card--4--back--text::-webkit-scrollbar-thumb:hover {
  background-color: darkorange;
}
main .taste_container--card--1--back--text, main .taste_container--card--2--back--text, main .taste_container--card--3--back--text, main .taste_container--card--4--back--text {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: orange #FFFFFF;
}
main .howItsMade {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding-bottom: 41px;
}
main .howItsMade_title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 50px;
}
main .howItsMade_title--span {
  color: #FD9222;
}
main .howItsMade_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .howItsMade_container--video--laptop {
  position: relative;
}
main .howItsMade_container--video--laptop img {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
main .howItsMade_container--video--laptop svg {
  position: absolute;
  top: 178px;
  left: 278px;
  color: white;
  transition: 0.3s;
}
main .howItsMade_container--video :hover svg {
  color: #FD9222;
}
main .howItsMade_container--video--phone {
  display: none;
  position: relative;
}
main .howItsMade_container--video--phone img {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
main .howItsMade_container--video--phone svg {
  position: absolute;
  top: 178px;
  left: 278px;
  color: white;
  transition: 0.3s;
}
main .howItsMade_container--video :hover svg {
  color: #FD9222;
}
main .howItsMade_container--box {
  width: 100%;
  max-width: 516px;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 32px;
}
main .howItsMade_container--box--title {
  width: 100%;
  max-width: 350px;
  margin-bottom: 28px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #111111;
}
main .howItsMade_container--box--list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-left: 16px;
}
main .howItsMade_container--box--list--item {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #111111;
}
main .howItsMade--grey {
  width: 100%;
  height: 51px;
  background-color: #D9D9D9;
  margin-top: 36px;
}
main .products {
  margin: 0 auto;
  padding: 80px 0;
}
main .products__container {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  overflow: hidden;
}
main .products__slider {
  overflow: hidden;
  margin: 0 auto;
  width: 1134px;
}
main .products__title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
main .products__title span {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #FD9222;
}
main .products__track {
  display: flex;
  gap: 18px;
  transition: transform 0.6s ease;
}
main .products__dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .products__dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: #ccc;
  cursor: pointer;
  transition: 0.3s;
}
main .products__dots button.active {
  width: 26px;
  border-radius: 20px;
  background: #f36f21;
}
main .product-card {
  flex-shrink: 0;
  height: 364px;
  width: 100%;
  max-width: 270px;
  background: #fff;
  border-radius: 12px;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .product-card h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 2px;
  margin-top: 8px;
}
main .product-card p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -2%;
  color: rgba(17, 17, 17, 0.6980392157);
  margin-bottom: 18px;
}
main .product-card button {
  background: #FAFAFA;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  padding: 8px 20px;
  border-radius: 100px;
  color: #111111;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}
main .topSellers {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding-bottom: 128px;
}
main .topSellers_title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 50px;
}
main .topSellers_title span {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #FD9222;
}
main .topSellers_container--example {
  display: flex;
  gap: 16px;
}
main .topSellers_container--example--chocolate--1, main .topSellers_container--example--chocolate--2, main .topSellers_container--example--chocolate--3 {
  width: 368px;
  height: 464px;
}
main .topSellers_container--info {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
main .topSellers_container--info--chocolate-2 {
  display: none;
}
main .topSellers_container--info--text {
  width: 100%;
  max-width: 430px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #111111;
}
main .topSellers_container--info--btn {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  padding: 14px 40px;
  border: none;
  border-radius: 100px;
  background-color: #FD9222;
  cursor: pointer;
  animation: infinite;
  transition-duration: 0.3s;
}
main .topSellers_container--info--btn:hover {
  color: #FD9222;
  background-color: #FCF1E0;
}
main {
  /* BACKDROP */
}
main .modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
main .modal.active {
  opacity: 1;
  visibility: visible;
}
main .modal__box {
  width: 100%;
  max-width: 600px;
  background: #FAFAFA;
  border-radius: 15px;
  padding: 48px;
  position: relative;
  transform: scale(1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  overflow-y: auto;
}
.modal.active main .modal__box {
  transform: scale(1);
}
main .modal__box--success {
  background: #fd9222;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 154px 44px 154px 163px;
}
main .modal__box--success img {
  position: absolute;
  left: -1px;
  bottom: -1px;
}
main .modal__box--success h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px;
}
main .modal__box--success p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #FFFFFF;
  width: 309px;
}
main .modal__box--success p span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -2%;
}
main .modal__close {
  border: none;
  background-color: none;
  position: absolute;
  right: 24px;
  top: 24px;
  font-size: 28px;
  background-color: #FAFAFA;
}
main .modal__close--svg {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #FD9222;
  border: none;
  padding: 0;
  cursor: pointer;
}
main .modal__close--svg svg {
  display: block;
  background-color: #FD9222;
  border: none;
}
main .modal__title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 32px;
}
main .modal__title span {
  color: #FD9222;
}
main .modal-products {
  gap: 16px;
  margin-bottom: 40px;
}
main .slider {
  display: flex;
  align-items: center;
  gap: 16px;
}
main .slider .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  padding: 22px 20px 18px 20px;
}
main .slider .slide span {
  margin-top: 15px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #111111;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 100px;
  background-color: #FAFAFA;
  padding: 8px 27.5px;
}
main .modal-product {
  background: #fff;
  border-radius: 15px;
  padding: 22px 20px 18px 20px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.2s;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
}
main .modal-product:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
main .modal-product span {
  background-color: #FAFAFA;
  display: block;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #111111;
  padding: 8px 27px;
}
main .form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .form-group {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .form-group label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #000000;
}
main .form-group input {
  height: 66px;
}
main input.error,
main textarea.error {
  border: 2px solid #e74c3c;
}
main input.success,
main textarea.success {
  border: 2px solid #2ecc71;
}
main .form-group-input {
  width: 100%;
  max-width: 513px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  gap: 8px;
  padding-left: 24px;
}
main .form-group-input input {
  border: none;
  padding-left: 20px;
}
main .form-group-input-code {
  display: flex;
  align-items: center;
  box-shadow: 2.72px 0px 0px 0px rgba(0, 0, 0, 0.1019607843);
  height: 32px;
}
main .form-group-input-code img {
  margin-right: 18px;
}
main .form-group-input-code p {
  padding-right: 32px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #000000;
}
main .form-row {
  display: flex;
  gap: 16px;
}
main .form-row input {
  flex: 1;
  width: 246px;
  height: 66px;
}
main .submit-btn {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  background-color: #FD9222;
  padding: 14px 40px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
main input,
main textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  color: rgba(64, 64, 64, 0.3019607843);
  background-color: #FAFAFA;
}
main textarea {
  resize: none;
  height: 137px;
}
main .modal__success {
  width: 516px;
}
main .card {
  position: relative;
}
main .card img {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}
main .reviews {
  padding: 100px 0;
  background-color: #FAFAFA;
  font-family: sans-serif;
}
main .reviews h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 50px;
}
main .reviews h2 span {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #FD9222;
}
main .reviews__container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
main .reviews__viewport {
  overflow: hidden;
  cursor: grab;
}
main .reviews__viewport:active {
  cursor: grabbing;
}
main .reviews__track {
  display: flex;
  gap: 28px;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  padding-top: 50px;
}
main .reviews__card {
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 20px;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  flex: 0 0 calc((100% - 28px * 2) / 3);
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  main .reviews__card {
    flex: 0 0 calc((100% - 28px) / 2);
  }
}
@media (max-width: 650px) {
  main .reviews__card {
    flex: 0 0 100%;
  }
}
main .reviews__card .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #FAFAFA;
}
main .reviews__card h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}
main .reviews__card p {
  width: 312px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(17, 17, 17, 0.6980392157);
}
main .reviews__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}
main .reviews__pagination .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(17, 17, 17, 0.1);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
main .reviews__pagination .dot.active {
  background: #FD9222;
  width: 28px;
  border-radius: 10px;
}
main .reviews__footer {
  text-align: center;
  margin-top: 40px;
}
main .review-layer {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1000;
}
main .review-layer.is-visible {
  opacity: 1;
  visibility: visible;
}
main {
  /* Карточка */
}
main .review-card {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 520px;
  padding: 40px;
  border-radius: 24px;
  background: #fff;
}
main {
  /* Success */
}
main .review-card--done {
  display: none;
  background: #FD9222;
  color: white;
  position: relative;
  width: 517px;
  height: 414px;
}
main {
  /* Крестик */
}
main .review-card__exit {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
}
main .review-card__exit--light {
  background: white;
  color: #FD9222;
}
main {
  /* Заголовок */
}
main .review-card__heading {
  font-size: 24px;
  font-weight: 600;
}
main .review-card__heading span {
  color: #FD9222;
}
main {
  /* Форма */
}
main .review-card__body {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
main .review-card__body input,
main .review-card__body textarea {
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  font-size: 14px;
}
main .review-card__body input:focus,
main .review-card__body textarea:focus {
  border-color: #FD9222;
  outline: none;
}
main .review-card__body textarea {
  height: 120px;
  resize: none;
}
main {
  /* Телефон */
}
main .review-phone {
  display: flex;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 12px;
  overflow: hidden;
}
main .review-phone__code {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}
main .review-phone__code img {
  width: 20px;
}
main .review-phone__code p {
  margin: 0;
  font-weight: 600;
}
main .review-phone input {
  border: none;
  flex: 1;
}
main {
  /* Кнопка */
}
main .review-submit {
  width: 120px;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: #FD9222;
  color: white;
  cursor: pointer;
}
main {
  /* Success контент */
}
main .review-success {
  display: flex;
  align-items: center;
  gap: 24px;
}
main .review-success img {
  position: absolute;
  left: 0;
  bottom: 0;
}
main .review-success-info h3 {
  margin: 0;
}
main .explore {
  background-image: url(./img/Subcribe.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 0;
}
main .explore-container {
  width: 100%;
  margin: 0 auto;
  max-width: 467px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .explore-container-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: 300px;
  margin-bottom: 24px;
}
main .explore-container-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 24px;
  color: #FFFFFF;
}
main .explore-container-btn {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  padding: 14px 40px;
  border: none;
  background-color: #FD9222;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 1160px) {
  main .topSellers_container {
    max-width: 704px;
    margin: 0 auto;
  }
  main .topSellers_container--example--chocolate-1, main .topSellers_container--example--chocolate-2, main .topSellers_container--example--chocolate-3 {
    width: 344px;
    height: 464px;
    margin: 0 auto;
  }
  main .topSellers_container--example--chocolate-3 {
    display: none;
  }
  main .topSellers_container--info--text {
    width: 100%;
    max-width: 306px;
  }
}
@media (max-width: 1100px) {
  main .product__title {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -3%;
    text-align: center;
    text-transform: uppercase;
  }
  main .product__container {
    max-width: 500px;
  }
  main .product__scroll {
    max-width: 500px;
  }
  main .products__slider {
    width: 558px;
  }
}
@media (max-width: 1024px) {
  .header_container {
    max-width: 704px;
  }
  .header_container--info--nav {
    display: none;
  }
  .header_container--info--icons svg {
    display: none;
  }
  .header .burger {
    display: block;
  }
  main .start_container {
    max-width: 704px;
    background-image: url(./img/chocolate-laptop.png);
  }
  main .start_container--grey {
    display: none;
  }
  main .start_container--box {
    padding-top: 671px;
  }
  main .benefits_container {
    max-width: 704px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  main .benefits_container--line {
    display: none;
  }
  main .taste_container {
    width: 100%;
    max-width: 706px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 32px;
  }
  main .taste_container--card--1, main .taste_container--card--2, main .taste_container--card--3, main .taste_container--card--4 {
    width: 336px;
    height: 270px;
  }
  main .taste_container--card--1--front, main .taste_container--card--2--front, main .taste_container--card--3--front, main .taste_container--card--4--front {
    padding: 28px 56px 28px 28px;
  }
  main .taste_container--card--1--front img, main .taste_container--card--2--front img, main .taste_container--card--3--front img, main .taste_container--card--4--front img {
    width: 224px;
    height: 171px;
    margin-left: 28px;
  }
  main .taste_container--card--1--front--title, main .taste_container--card--2--front--title, main .taste_container--card--3--front--title, main .taste_container--card--4--front--title {
    margin-top: 25px;
  }
  main .taste_container--card--1--back, main .taste_container--card--2--back, main .taste_container--card--3--back, main .taste_container--card--4--back {
    padding: 28px 56px 28px 28px;
  }
  main .taste_container--card--1--back--text, main .taste_container--card--2--back--text, main .taste_container--card--3--back--text, main .taste_container--card--4--back--text {
    max-width: 280px;
  }
  main .taste_container--card--1, main .taste_container--card--4 {
    order: 1;
  }
  main .taste_container--card--2, main .taste_container--card--3 {
    order: 2;
  }
  main .product__title {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -3%;
    text-align: center;
    text-transform: uppercase;
  }
  main .product__container {
    max-width: 500px;
  }
  main .product__scroll {
    max-width: 500px;
  }
  main .products__slider {
    width: 558px;
  }
  main .howItsMade {
    padding-bottom: 100px;
  }
  main .howItsMade_container {
    flex-direction: column;
    row-gap: 20px;
  }
  main .howItsMade_container--video img {
    width: 614px;
  }
  main .howItsMade_container--video svg {
    left: 285px;
  }
  main .howItsMade_container--box {
    max-width: 614px;
  }
  main .howItsMade--grey {
    display: none;
  }
  main .topSellers_container--example--chocolate-3 {
    display: none;
  }
  main .topSellers_container--example--chocolate-1, main .topSellers_container--example--chocolate-2, main .topSellers_container--example--chocolate-3 {
    width: 344px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-bottom: 14px;
  }
  .header_container {
    max-width: 335px;
  }
  .menu-overlay {
    width: 220px;
  }
  .menu-overlay .menu {
    padding-left: 50px;
    margin-top: 136px;
  }
  .menu-overlay .menu a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -2%;
    vertical-align: middle;
  }
  main .modal__box {
    max-width: 311px;
    padding: 32px 24px;
  }
  main .modal__box {
    max-width: 311px;
    padding: 32px 24px;
  }
  main .modal-products {
    width: 100%;
    margin-bottom: 24px;
  }
  main .slider {
    position: relative;
    height: 260px;
  }
  main .slide {
    position: absolute;
    inset: 0;
    background: #fff;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1019607843);
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0.95);
    transition: 0.4s ease;
  }
  main .slide img {
    width: 150px;
    margin-bottom: 24px;
  }
  main .slide span {
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1019607843);
    border-radius: 100px;
    padding: 8px 24px;
    font-weight: 600;
    font-size: 14px;
  }
  main .slide.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
  }
  main .slider-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }
  main .slider-dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background: #d9d9d9;
    cursor: pointer;
  }
  main .slider-dots .dot.active {
    width: 28px;
    border-radius: 20px;
    background: #FD9222;
  }
  main .form-row {
    flex-direction: column;
  }
  main .form-row input {
    width: 100%;
  }
  main .benefits_container {
    justify-content: center;
  }
  main .products__slider {
    width: 270px;
  }
  main .start_container {
    max-width: 335px;
    padding: 20px;
    background-image: url(./img/chocolate-phonr.png);
    background-size: cover;
    background-position: center;
  }
  main .start_container--box {
    padding: 0;
    padding-top: 375px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  main .start_container--box--info--title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -3%;
  }
  main .start_container--box--info--buttons--btn {
    padding: 12px 28px;
  }
  main .start_container--box--info--buttons--btn--2 {
    padding: 12px 28px;
  }
  main .start_container--box--scroll {
    max-width: 107px;
  }
  main .start_container--box--scroll--text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -3%;
  }
  main .start_container--box--scroll svg {
    width: 28px;
    height: 28px;
  }
  main .taste {
    padding: 72px 0;
  }
  main .taste_title {
    max-width: 283px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -3%;
    text-align: center;
    text-transform: uppercase;
  }
  main .taste_text {
    max-width: 335px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  main .taste_container {
    max-width: 335px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .taste_container--card--3 {
    order: 3;
  }
  main .taste_container--card--4 {
    order: 4;
  }
  main .howItsMade_title {
    margin-bottom: 32px;
  }
  main .howItsMade_container {
    flex-direction: column;
    row-gap: 20px;
  }
  main .howItsMade_container--video--laptop {
    display: none;
  }
  main .howItsMade_container--video--phone {
    display: block;
  }
  main .howItsMade_container--video--phone img {
    width: 335px;
  }
  main .howItsMade_container--video--phone svg {
    top: 233px;
    left: 150px;
  }
  main .howItsMade_container--box {
    max-width: 335px;
    padding: 20px 14px;
  }
  main .topSellers_title {
    margin-bottom: 32px;
  }
  main .topSellers_container--example--chocolate-2 {
    display: none;
  }
  main .topSellers_container--info {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  main .topSellers_container--info--chocolate-2 {
    display: block;
    width: 335px;
    height: 464px;
    margin-top: 12px;
  }
}/*# sourceMappingURL=style.css.map */